* {margin:0;padding:0;}
body {
    background:url('http://p1.pichost.me/i/64/1884200.jpg')no-repeat 0 0 #fff;
    font-family: 'Lato', sans-serif;
    font-size:1em;
    line-height:1.2em;
    min-width:500px;
    overflow:visible;
}
h1 {
    font-size:2.8em;
    line-height:2.4em;
    text-align:center;
    color:#F7DA26;
    text-shadow:1px 1px 1px #660301;

}
h2 {
    font-size:1.5em;
    line-height:2em;
    text-align:center;
    color:#E1B3B2;
    text-shadow:1px 1px 1px #670805;
}
nav {
    width:100%;
    margin-top:2%;
    border-bottom:2px solid #A61936;
}
ul {
    list-style:none;
    background:#E5E5E5;
    margin:0 auto;
    text-align:center;
}
li {
    display:inline-block;
    position:relative;
    min-width:120px;
    transition:all 400ms linear;
}
nav>ul>li:hover:after,nav>ul>li.visited:after {
    display:block;
    content:"";
    width:0;
    height:0;
    position:absolute;
    left:50%;
    bottom:0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #A61936;
    margin-left: -10px;
}
li>a {
    text-decoration:none;
    display:block;
    color:#404040;
    text-transform:uppercase;
    font-weight:700;
    padding:20px 25px;
}
ul li:hover ul {
    display:block;
}
ul ul {
    display:none;
    position:absolute;
    top:59px;
    left:0;
}
ul ul li:hover {
   background:#A61936;
}
ul ul li:hover>a {color:#E5E5E5;}
ul ul li:nth-child(1) {border-top:2px solid #A61936;}
ul ul a {
    text-transform:lowercase;
    padding:15px;
}
ul ul ul {
    position:absolute;
    left:120px;
    top:0;
    display:none !important;
}
ul ul>li:hover ul {
    display:block !important;
}
ul ul ul li {border-top:0 !important;}
/*responsive*/
@media screen and (max-width:500x) {li {min-width:100px;}}





@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

body {
  font-family: 'Lato';
}
.logo {
  width:250px; 
  display:block;  
  margin:0 auto;
  cursor: pointer;
}
div#logobx {
  width: 312px; 
  height: 320px; 
  background-color: rgba(74, 123, 141, 0.93); 
  position: absolute; 
  display: block; 
  border-bottom: 75px solid rgba(33,34,37,0.9);
}
.mainpanel {
  width: 886px; 
  height: 396px;
  background-color: #f2e6da;
  opacity: .95; 
  position: absolute;
  left: 320px; 

}
.amenitiespanel {width: 886px;
  height: 396px;
  background-color: #f2e6da;
  opacity: .95;
  left: 320px;
  position: absolute; display: none; 
  padding-left: 40px;
  color: #000000;
  font-size: 16px;
}
.amenitiespanel ul {
  color: #000000;
}
.amenbx {
  padding-top: 40px; 
  float: left;
}
.amenbx ul li {
  list-style-type: disc; 
  margin-left: 19px;
  margin-bottom: 5px; 
  padding-left: 20px;
}

img.rmsclose {
  
  position: absolute;
  top: 30px; 
  right: 30px; cursor: pointer;
}
.thumbbx {
  padding-left:50px; 
  padding-top: 30px;
}
.roomthumb {
  width: 233px;
  height: 144px;
  position: relative;
  cursor: pointer;
  float: left; 
  padding: 12px;
}
span.thmheader {
  position: absolute; 
  text-align: center; display: block; 
  width: 233px;
  padding-top: 15px;
  height: 35px; 
  background-color: rgba(33,34,37,0.9); 
  font-style: italic; 
  font-size: 16px; color: #ffffff;
}
.roomthumb:hover span.thmheader {
  background-color: rgba(74,123,141,0.9);
  transition: all 175ms linear;
}
.leftinfobx {
  position: absolute; 
  width: 272px;
  height: 356px; 
  color: #ffffff; 
  padding: 20px; 
  font-size: 16px;
  line-height: 1.3em;
  background-color:rgba(72, 118, 135, 0.95);
}
.leftinfobx h2 {
  color: #ffcd97; 
  text-transform: uppercase; text-align: center; 
  font-size: 22px; 
  margin-bottom: 25px; margin-top: 15px; 
  text-shadow: 2px 2px 1px #406671;
}
.leftinfobx p {
  
  text-align: justify;
  text-shadow: 2px 2px 1px #406671;
}
span.inroom {color: #ffcd97;
  font-weight: bold; 
  margin-right: 4px;
}
span.rmamenslink {
  position: absolute;
  bottom: 90px; 
  cursor: pointer;
}
.btmlinks {
  width: 312px; 
  height: 75px; 
  background-color: rgba(33,34,37,0.9);
  position: absolute; 
  left: 0px; 
  bottom: 0px;
}
.btmlinks img {
  margin-top: 18px;
  cursor: pointer;
}
img.btmback {
  margin-left: 20px;
  margin-right: 15px;
}

.leftinfobx.petiteqn, .leftinfobx.queenrm, .leftinfobx.queenbalcony, .leftinfobx.kingrm, .leftinfobx.ddrm {
  display: none;
}
/* .leftinfobx.petiteqn {
  display: none;
}
.leftinfobx.queenrm {
  display: none;
}
.leftinfobx.queenbalcony {
  display: none;
}
.leftinfobx.kingrm {
  display: none;
}
.leftinfobx.ddrm {
  display: none;
}
.leftinfobx.dtrm {display: none;} */