<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
      {% load static %}
     {% load staticfiles %}

    <meta charset="UTF-8">
    <title>Title</title>

  <link rel="stylesheet" href="{% static 'home.css' %}" />
 <script src="{% static 'home.js' %}"></script>

    <style>
body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
</style>

</head>
<body>

<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Some text in the Modal..</p>
  </div>

</div>


<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
<!--btn.onclick = function() {-->
  <!--modal.style.display = "block";-->
<!--}-->
function modelrate(){

modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>


<script type='text/javascript' src='http://code.jquery.com/jquery-1.7.2.min.js'> </script>

</script>
<h1>Food Review in Singapore</h1>
 <h2>By Nyein Chan Kyaw Swar, Kay Thi Swe Tun, Ei Theingi Swe</h2>
  <nav>
      <ul>
          <li><a href="#">Home</a></li>
          <li class="visited sub"><a href="#">Categories</a>
              <ul>

                  {% for key, values in cat.items %}
                <li id="catval" >

                <a href="{% url 'review:index' key %}">{{ values }}</a> </li>

                </li>
                {% endfor %}

              </ul>

          </li>
          <li><a href="#">Gallery</a></li>
          <li><a href="#">Contact</a></li>
      </ul>

  </nav>

<p id="demo">djonrob</p>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

  <div id="displaywrap">
      <div id="logobx" style="display: block;">

      <img src="http://www.andrewjtullio.com/codepen/generic-logo.png"  class="logo"/>
      </div>

      <div class="mainpanel" style="display: block;">
          <img src="http://www.andrewjtullio.com/codepen/close.png" class="rmsclose">
          <div class="thumbbx">

              {% for val in restaurant %}
              <div class="roomthumb pqr">
                  <span id="rid" onclick="myfun('{{ val.Rname }}','{{ val.Rdesc }}')">{{ val.Rname }}</span>
                  <img src="http://www.andrewjtullio.com/codepen/hotel1.jpg">
              </div>


                {% endfor %}

          </div>
      </div>

          <div class="amenitiespanel" style="display: none;">
          <img src="http://www.andrewjtullio.com/codepen/close.png" class="rmsclose">
          <div class="amenbx">
              <strong>In-Room Amenities</strong>
              <ul style="margin-top:20px;">
            <li>Qui at nonumy lobortis concludaturque</li>
            <li>cu eros novum periculis eum</li>
            <li>Pro tacimates salutatus te</li>
            <li>eam ut dolorem electram euripidis</li>
            <li>minim splendide mediocritatem nam et</li>
            <li>Similique cotidieque eum in</li>
            <li>Fastidii disputationi vis ad</li>
            <li>Graeci molestiae mel at</li>
            <li>Quo an velit tamquam</li>
            <li>Discere diceret voluptatum vim at</li>
            <li>Autem viderer qui eu</li>
              </ul>
          </div>

          <div class="amenbx">
              <ul style="margin-top:35px; margin-left:90px;">
                  <li>Qui at nonumy lobortis concludaturque</li>
            <li>cu eros novum periculis eum</li>
            <li>Pro tacimates salutatus te</li>
            <li>eam ut dolorem electram euripidis</li>
            <li>minim splendide mediocritatem nam et</li>
            <li>Similique cotidieque eum in</li>
            <li>Fastidii disputationi vis ad</li>
            <li>Graeci molestiae mel at</li>
              </ul>
          </div>

      </div>

      <div class="leftinfobx petiteqn"  style="display: none;">
          <h2 id="Rname"></h2>

     <p id="desc"></p>

      <span class="rmamenslink"><span class="inroom">In-Room Amenities</span> &gt;</span>

          <div class="btmlinks">
              <img src="http://www.andrewjtullio.com/codepen/back.jpg" class="btmback">
              <a target="_blank" onclick="modelrate()"><img src="http://www.andrewjtullio.com/codepen/booknow.jpg" class="btmbooknow"></a>
          </div>

      </div>
  </div>
  <script src="{% static 'home.js' %}"></script>
<script>
function myfun(x,y) {
  var val=document.getElementById("rid").innerHTML;

  alert( x+ "" );

  document.getElementById("Rname").innerHTML=x;

  document.getElementById("desc").innerHTML=y;

}
</script>

</body>
</html>